<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Medicine Form</title>
</head>
<body>
<h1>Enter the Number of Rows</h1>
<form action="/api" method="post">
    <label for="numOfRows">Number of Rows for Medicine:</label>
    <input type="text" id="numOfRows" name="numOfRows">
    <br/>
    <br/>
    <label for="pageNo">Page Number for Medicine:</label>
    <input type="text" id="pageNo" name="pageNo">
    <br/>
    <button type="submit">Submit</button>
</form>


<br/>
<form action = "/api/pharmacy" method="post">
    <label for="numOfRows">Number of Rows for Pharmacy:</label>
    <input type = "text" id = "numOfRows2" name="numOfRows">
    <button type="submit">Submit</button>
</form>
</body>
</html>
